<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>เกี่ยวกับเรา</title>
</head>
<body>
    <h1 style="color: skyblue">เกี่ยวกับเรา</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sunt, distinctio aut expedita fugit sed nobis magni natus in quo, inventore, quidem veritatis! Adipisci sit culpa quas pariatur, magnam amet illum.</p>
    <hr>
    <a href="/">หน้าแรก</a>
    <a href="/about">เกี่ยวกับเรา</a>
    <a href="/form">แบบฟอร์ม</a>
</body>
</html>